# Bento Environment Variables
# Copie para .env e configure os valores

# Redis
REDIS_URL=redis://localhost:6379/0

# HTTP Server
BENTO_HTTP_PORT=10083

# Logs
LOG_LEVEL=INFO

# Aplicação
APP_ENVIRONMENT=production

# Rate Limit (MULTIWAY only)
RENAVAM_RATE_LIMIT_COUNT=10000


