# Bento Environment Variables
# Copie para .env e configure os valores

# Redis
REDIS_URL=redis://localhost:6379/0

# HTTP Server
BENTO_HTTP_ADDRESS=0.0.0.0:4195

# Logs
LOG_LEVEL=INFO

# Aplicação
APP_ENVIRONMENT=production


